body {
  font-family: 'Dosis', sans-serif;
}

.App {
  position: relative;
  text-align: center;
}

.container {
  position: relative;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}

.info {
  width: 30%;
}

.info-title {
  font-size: 40px;
  color: orange;
}

.info-button {
  padding: 8px 10px;
  background: #29a729;
  margin: 20px auto 0;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  color: white;
}

.info-button:hover {
  opacity: 0.8;
}

.bg-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}